<!doctype html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>IT'S Movie Time</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">
		<style>
			.owl-controls {
			  visibility: hidden;
			}
			.main_home wow fadeInUp animated {
			padding-top: 150px;
			}
		</style>
        <link rel="stylesheet" href="{% static "css/fonticons.css" %}">
        <link rel="stylesheet" href="{% static "fonts/stylesheet.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static "css/plugins.css" %}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static "css/responsive.css" %}" />

        <script src="{% static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                                <img src="{% static "images/logo.png" %}"/>
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  style="margin-top: 13px;">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="\admin">HOME</a></li>
                                                <li><a href="\admin\prof">PROFILE</a></li>
                                                <li><a href="\admin\addmov">ADD MOVIE</a></li>
                                                <li><a href="\admin\addcin">ADD CINEMA</a></li>
                                                <li><a href="\admin\addsch">ADD SCHEDULE</a></li>
												<li><a href="\admin\viewM">VIEW MOVIE LIST</a></li>
												<li><a href="\admin\viewC">VIEW CINEMA LIST</a></li>
												<li><a href="\admin\viewS">VIEW SCHEDULE</a></li>
												<li><a href="\admin\viewT">VIEW TICKETS</a></li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->





            <section id="home" class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h2>It's Time To Relax And Go To The Cinema</h2>
                                            <div class="separator"></div>
                                            <p style="font-size: 20px;">"The essence of cinema is editing. It's the combination of what can be extraordinary images of people during emotional moments, or images in a general sense, put together in a kind of alchemy." Francis Ford Coppola</p>
                                            

                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h2>It's Time To Relax And Go To The Cinema</h2>
                                            <div class="separator"></div>
                                            <p style="font-size: 20px;">"When I make a film, I am hoping to reinvent the genre a little bit. I just do it my way. I make my own little Quentin versions of them... I consider myself a student of cinema. It's almost like I am going for my professorship in cinema, and the day I die is the day I graduate. It is a lifelong study." Quentin Tarantino</p>
                                            <div class="home_btn">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

			
            <section id="about" class="about" style="text-align: center">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="main_about_content">
                                    <div class="row">
										<h2 style="text-align: center; padding-bottom: 40px;">Please fill all forms below about new Cinema</h2>
                                        <div class="home_btn">
											<form method="POST">
												{% csrf_token %}
											<table id="cins" style="display: block; padding-left: 280px; font-family: 'hammersmith_oneregular'; color: #00e0d0; font-size: 20px;">
												{{ form }}
												<tr><th><label>Number of seats of Hall # {{num}}: </label></th><td><input type="number" name="sea1" required id="id_name" /></td></tr>
											</table>
											<div id='chan'></div>
											<input onclick="fic()" value="ADD MORE HALLS" class="btn btn-primary">
											<input onclick="myFunction()" type="submit" value="SUBMIT" class="btn btn-primary" >
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section id="footer" class="footer_widget">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="main_widget" style='padding: initial;'>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <div class="footer_logo">
                                                    <img src="{% static "images/logo.png" %}" alt="" style="padding-top: 23px"/>
                                                </div>
                                                <p>"I think cinema, movies, and magic have always been closely associated. The very earliest people who made film were magicians." Francis Ford Coppola</p>
                                            </div>
                                        </div>

                                        <div class="col-sm-4  col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <h4>OUR STUDIO</h4>
                                                <ul>
                                                    <li><a href="">
                                                            <i class="fa fa-map-marker"></i> 
                                                            <span>Satpayev street, 156/7<br />
                                                                Almaty city<br />
                                                                55080 - Kazakhstan</span>
                                                        </a></li>
                                                    <li><a href=""><i class="fa fa-phone"></i>+7 727 734 54 64</a></li>
                                                </ul> 
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <h4>STAY IN TOUCH</h4>

                                                <div class="footer_subcribs_area">
                                                    <form class="navbar-form navbar-left" role="search">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Search">
                                                            <button type="submit" class="submit_btn"></button>
                                                        </div>

                                                    </form>
                                                    <div class="flowus">
                                                        <a href=""><i class="fa fa-facebook"></i></a>
                                                        <a href=""><i class="fa fa-twitter"></i></a>
                                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                                        <a href=""><i class="fa fa-instagram"></i></a>
                                                        <a href=""><i class="fa fa-youtube"></i></a>
                                                        <a href=""><i class="fa fa-dribbble"></i></a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main_footer text-center">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <ul class="right_menu list-inline">
                                                <li><a href="">HELP</a></li>
                                                <li><a href="">TERMS & CONDITION</a></li>
                                                <li><a href="">PRIVACY</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="copyright_text">
                                                <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
		<script>
		var xc = 2
		function myFunction() {
			alert("New Cinema is created!");
		}
		function fic() {
			var pas = document.createElement("tr");
			var pas1 = document.createElement("th");
			var para = document.createElement("label");
			var t = document.createTextNode("Number of seats of Hall # "+xc+":");
			pas.appendChild(pas1);
			pas1.appendChild(para);
			para.appendChild(t);
			var para2 = document.createElement("td");
			var paras = document.createElement("input");
			var att = document.createAttribute("name");
			att.value = "sea"+xc;
			paras.setAttributeNode(att);
			var att1 = document.createAttribute("type");
			att1.value = "number";
			paras.setAttributeNode(att1);
			pas.appendChild(para2);
			para2.appendChild(paras);
			document.getElementById("cins").appendChild(pas);
			xc = xc + 1;
		}
		</script>
        <script src="{% static "js/jquery.magnific-popup.js" %}"></script>
        <script src="{% static "js/jquery.mixitup.min.js" %}"></script>
        <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
        <script src="{% static "js/jquery.masonry.min.js" %}"></script>
        <script src="{% static "js/jquery.fancybox.pack.js" %}"></script>

        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

    </body>
</html>
